// npx sass --watch css/style.css css/style.css 로 사용
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
}

.layout {
  width: auto;
  height: auto;
  display: grid;
  padding: 24px 242px;
  gap: 20px;
}

@media (max-width: 1200px) {
  .layout {
    padding: 24px 24px;
  }
}

.component-wrapper {
  line-height: 1.5625;
}

.component-header {
  h2 {
    margin: 0;
    font-size: 1.625rem;
    line-height: 1.5;
    letter-spacing: 0.1px;
    font-weight: 600;
    margin: 0 0 4px;
    font-family: "General Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol";
  }

  p {
    margin: 0;
    color: #1c2025;
    margin-bottom: 16px;
  }
}

.component-contents {
  position: relative;
  margin: auto;
  border-radius: 12px 12px 0 0;
  display: flex;
  justify-content: center;
  padding: 24px;
  background-color: #f3f6f9;
  border: 1px solid #e5eaf2;

  .list-wrapper {
    width: 100%;
    height: 400px;
    max-width: 360px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
  }

  .list-component {
    position: relative;
    width: auto;
    height: 9200px;

    .list-row-wrapper {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 46px;
      width: 100%;
      cursor: pointer;
      user-select: none;
    }

    .list-row {
      position: relative;
      width: auto;
      height: 46px;
      margin: 0;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 16px;
      padding-right: 16px;
      letter-spacing: 0.00938em;
      z-index: 100;
      opacity: 100%;
    }

    .list-row:hover {
      background-color: #f4f4f4;
    }
  }
}

.component-footer {
  border: 1px solid #e5eaf2;
  background-color: rgba(243, 246, 249, 0.2);
  border-radius: 0 0 12px 12px;
  margin-top: -1px;
  padding: 4px 8px;
  height: 40px;
}

@keyframes materialRipple {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    transform: translate(-50%, -50%) scale(var(--material-scale));
    opacity: 0%;
  }
}

.material-ripple {
  position: relative;
  overflow: hidden;
  color: #000;
  text-decoration: none;
}

.material-ripple .animate {
  width: 2px;
  height: 2px;
  position: absolute;
  border-radius: 50%;
  animation: materialRipple 0.5s linear;
}
