// npx sass --watch css/style.css css/style.css 로 사용

html ,body {
    padding : 0;
    margin : 0;
    width : 100%;
    height : 100%;
}
nav {
    width : 100%;
    height : 3rem;
    border : 1px solid black;
    display : flex;
    justify-content : space-between;
}

aside {
    border : 1px solid black;
}
